h1 h2 {
    font-family: "Oswald", "Helvetica Neue", Arial, sans-serif;
}

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
    text-align: center;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.caption {
    font-style: italic;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 15%;
    margin-left: 15%;
}

.container-fluid {
    background-color: #e0e0e0;
    margin: 1em auto;
}

.container {
    background-color: antiquewhite;
}

.text {
    font-size: 16px;
    margin-top: 40px;
}

.table {
    padding: 15px;
}

table td,
tr {
    border: solid 2px darkslateblue;
    padding: 3px;
}

.reference {
    font-size: 18px;
}